{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>途尔北方精选</title>
  <link rel="shortcut icon" href="{% static "res/icons/logo.ico" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/feature-north.css" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/jquery.fullpage.css" %}" >
    <script type="text/javascript" src="{% static "res/js/jquery-3.1.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "res/js/jquery.fullpage.js" %}"></script>
</head>

<body style="position: relative;">
    <div class="back-to-home"><a href="../home"><img src="{% static "res/images/" %}"/></a></div>
    <div id="fullpage">
        <div class="section section-head active" id="section1">
            <div id="id-feature-head" class="be-black" style="top: 0px;display: none;">
                <div style="margin-top: 15%">
            <h1>北方校园</h1>
            <p>
                在这里，敬请欣赏TOUR为您精心整理的北方。<br/>
                让我们一起领略北方校园的好去处。<br/>
                途尔，一路有你。
            </p>
               <div style="width:400px;height:100px;margin: 0px auto;"> <div class="back-to-home"><a href="../home"><img src="{% static "res/images/logo1.png" %}"/></a></div></div>

                </div>
            </div>
        </div>

        <div class="section section-page-1" id="section2">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">北京大学</span><br/><br/><br/>
                    融融未名湖 巍巍博雅塔。湖光塔影，是北大校园最有特色、最醒目的一景。这成为燕园不朽的神话。博雅塔雄伟挺拔，未名湖柔波荡漾，塔和湖，一纵一横，一凸一凹，欢快空灵。北大学子无不在此凭水而立，合影留念。著名书法家欧阳中石先生说过这样赞美的话：“燕园的幽美，世界驰名。湖光塔影，荷香柳荫，令人神怡，令人陶醉。在这里的日子虽然不长，但这里读书的幸福却着着实实地享受过了。我们都意识到，成长在这样的环境里，如果再不成材，就太辜负这‘皇天后土’了。”                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    融融未名湖 巍巍博雅塔。
                    <b class="quotation-right">”</b>
                </p>
            </div>


            </div>
        </div>

        <div class="section section-page-2" id="section3">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">武汉大学</span><br/><br/><br/>
                    一路高大的法国梧桐仿佛延伸到世界的尽头，冬季的苍白抬头就看得到；曼珠沙华静静开在每颗樱花树下，红的醉人；宋卿体育馆像引导员一样总是新生第一个到达的殿堂，悲伤的是，宋卿也是照毕业照的地方，悲喜同在的地方最值得留恋；樱顶是个奇妙的地方，这有最古老的建筑，有最安静的学子，有最甜蜜的新婚情侣卿卿我我，有最美的视角一览武大；十八栋总是承载太多传说，爬满爬山虎的教四墙壁隐藏着许多故事一样，教五门前的草地总有老爷爷放风筝的身影，情人坡那么多种植物也造就了很多情侣……我无法说完武大，因为我还没有真的认识她。                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    武大啊，我在樱花那头遇见你。
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-3" id="section4">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">若尔盖草原：宽阔的翠绿</span><br/><br/><br/>
                    若尔盖这里一切美丽，成帷幕开启时，背景变幻的招摇，随时诱惑眼眸中黑色的，晶莹，索性不再养神，游走已开始，在风景的变幻里，捎给心灵随意想象，如同脚下，那条路延伸至天边的宽阔。                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    若尔盖，你就是那梦境里的天堂
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-4" id="section5">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">西安交大</span><br/><br/><br/>
                    宇土茫茫，山高水长。源起南洋公学，见证东方奇迹。实业固国土，民族得中兴。奔涌西行群峰间，三校合并舞苍茫。三世纪栉风沐雨，双甲子春华秋实!时维四月,正值晚春。甘霖降而万物苏,暖风拂而千树发。访乐天于东亭,悼宣怀于广元,拜文治于上院,哀彭康于西园。柳芽鹅黄,玉兰雪白,绿叶噙汁,红花抱蕾。青草红樱,五彩缤纷;小桥流水,心旷神怡。柳丝含烟飞白絮,桃花夭艳吐娇羞。十年树木，百年树人。枝繁叶茂，默洒阴凉。辛勤耕耘，吐故纳新。庚续薪火，传承文化。弦歌伴风云，桃李满天下！                      <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    弦歌伴风云，桃李满天下！
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>
    </div>
        <script src="res/js/move.js"></script>
    <script>

        $(document).ready(function(){
            $('#fullpage').fullpage({
                srcollingSpeed: 500,
                'navigation': true,
                'navigationPosition': 'right',
                'afterLoad': function(link,index) {
                    switch(index){
                        case 1:
                        $("#id-feature-head").fadeIn(2000);
                        break;
                        case 2:
                        move('#section2 div.be-black').set('top',0).end();
                        break;
                        case 3:
                        move('#section3 div.be-black').set('top',0).end();
                        break;
                        case 4:
                        move('#section4 div.be-black').set('top',0).end();
                        break;
                        case 5:
                        move('#section5 div.be-black').set('top',0).end();
                        break;
                    }
                }
            });
        });
    </script>
</body>

</html>
