{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>途尔南方精选</title>
  <link rel="shortcut icon" href="{% static "res/icons/logo.ico" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/feature-south.css" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/jquery.fullpage.css" %}" >
  <script type="text/javascript" src="{% static "res/js/jquery-3.1.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "res/js/jquery.fullpage.js" %}"></script>
</head>

<body style="position: relative;">
    <div class="back-to-home"><a href="../home"><img src="{% static "res/images/" %}"/></a></div>
    <div id="fullpage">
        <div class="section section-head active" id="section1">
            <div id="id-feature-head" class="be-black" style="top: 0px;display: none;">
                <div style="margin-top: 15%">
            <h1>我在南方</h1>
            <p>
                在这里，敬请欣赏TOUR为您精心整理的南方。<br/>
                让我们一起领略南方的好去处。<br/>
                途尔，一路有你。
            </p>
               <div style="width:400px;height:100px;margin: 0px auto;"> <div class="back-to-home"><a href="home.html"><img src="{% static "res/images/logo1.png" %}"/></a></div></div>

                </div>
            </div>
        </div>

        <div class="section section-page-1" id="section2">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">乌镇：枕水人家的恬淡</span><br/><br/><br/>
                    《似水年华》中有人这样形容“乌镇永远是乌镇，在这江南水乡的最美的一隅……如黄昏的一帘幽梦”。这就是乌镇，枕水人家的安静与恬淡，任凭时光流逝，唯不变那份从容。
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    乌镇啊，你就是那黄昏的一帘幽梦
                    <b class="quotation-right">”</b>
                </p>
            </div>


            </div>
        </div>

        <div class="section section-page-2" id="section3">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">洱海：淡然而静谧</span><br/><br/><br/>
                    洱海，或许我应当为您干一杯！而今晚的洱海月，应该就是我那杯中时常荡漾的浊月，而我口中饮用的酒水，应该就是您那蓝蓝的、纯净的洱海水！
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    洱海，连波浪的传送都是是静悄悄的
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-3" id="section4">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">香港：我去了不夜城</span><br/><br/><br/>
                    这里没有黑夜，没有孤独和苦痛，这里只有欢乐，笑声，火鸡，香槟，圣诞树。我们在橱窗里相依偎取暖，我们享受着这穷奢极欲的夜晚，谁都忘记了黑暗和孤独。
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    香港啊，你就是那璀璨的明珠
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-4" id="section5">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">鼓浪屿：海阔天空的居所</span><br/><br/><br/>
                    探访隐在树影深处的一栋栋老别墅，体会着特殊的宁静与安详。透过低矮的围墙和铁艺大门可以看到那带着异域风情的细美的雕饰。罗马圆柱、哥特尖顶、伊斯兰圆顶弥漫着浓郁西方气息。
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    鼓浪屿啊，海风都跳着华尔兹
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>
    </div>
        <script src="res/js/move.js"></script>
    <script>

        $(document).ready(function(){
            $('#fullpage').fullpage({
                srcollingSpeed: 500,
                'navigation': true,
				'navigationPosition': 'right',
                'afterLoad': function(link,index) {
                    switch(index){
                        case 1:
                        $("#id-feature-head").fadeIn(2000);
                        break;
                        case 2:
                        move('#section2 div.be-black').set('top',0).end();
                        break;
                        case 3:
                        move('#section3 div.be-black').set('top',0).end();
                        break;
                        case 4:
                        move('#section4 div.be-black').set('top',0).end();
                        break;
                        case 5:
                        move('#section5 div.be-black').set('top',0).end();
                        break;
                    }
                }
            });
        });
    </script>
</body>

</html>
