{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>途尔南方精选</title>
  <link rel="shortcut icon" href="{% static "res/icons/logo.ico" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/feature-south.css" %}" >
  <LINK rel="stylesheet" href="{% static "res/css/jquery.fullpage.css" %}" >
  <script type="text/javascript" src="{% static "res/js/jquery-3.1.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "res/js/jquery.fullpage.js" %}"></script>
</head>

<body style="position: relative;">
    <div id="fullpage">
        <div class="section section-head active" id="section1">
            <div id="id-feature-head" class="be-black" style="top: 0px;display: none;">
                <div style="margin-top: 15%">
            <h1>南方校园</h1>
            <p>
                在这里，敬请欣赏TOUR为您精心整理的南方。<br/>
                让我们一起领略南方的好去处。<br/>
                途尔，一路有你。
            </p>
               <div style="width:400px;height:100px;margin: 0px auto;"> <div class="back-to-home"><a href="home.html"><img src="{% static "res/images/logo.png" %}" style="width: 140px;height: 60px;margin-top: 20px;"/></a></div></div>

                </div>
            </div>
        </div>

        <div class="section section-page-1" id="section2">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">厦门大学</span><br/><br/><br/>
                    无论你是站在宏伟的上弦场眺望大海，听燕子声声，看风帆争流，还是漫步于幽雅的芙蓉湖畔，感受椰树下绿茵上晨读的诗意，倩影对对，或者是踏着绿荫筛选的阳光走进“情人谷”，领略碧水翠峦山风，静思默想宇宙苍穹，你都会由衷地赞叹：太美了，厦大！当年鲁迅就这样告诉许广平：“这里风景佳绝。”但你又分明感受到这佳绝的风景不仅仅是南国四季的绚丽，它还流淌着一股足以让人怦然心动的血性。像所有的名校一样，厦大有属于自己的永恒风景，这种风景与一个人的生命连在一起，厦大人亲切地称这个人为“我们的校主”。
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    厦大，你就是海边的一帘幽梦
                    <b class="quotation-right">”</b>
                </p>
            </div>


            </div>
        </div>

        <div class="section section-page-2" id="section3">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">中山大学</span><br/><br/><br/>
                    乃知造化无常而有缘，非其地不足以广其校，非其校不足以名其地。珠海中大之遇，千秋之遇也。夫水木清华，京都大序；日月光华，复旦名庠；望之俨然而温且厉者，则中山大学也。斯土斯文，相得益彰，是国人粤人珠人无量之功德，必彪炳青史而不朽。潜龙之飞，正在今世矣。用文学的心灵审度中山大学的历史、风景、人文，用自己的诗词文章讲述这种种体验和心得。美丽的康乐园，美丽的诗文，深怀热爱的演讲人——本场演讲将引导人们对这座园林学府来一番唯美的感知、文学的解读、诗意的享受。
                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    中山，千秋之韵。
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-3" id="section4">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">东南大学</span><br/><br/><br/>
                    东揽钟山紫气，北拥扬子银涛。六朝松下听箫韶。齐梁遗韵在，太学令名标。百载文枢江左，
东南辈出英豪。海涵地负展宏韬。日新臻化境，四海领风骚。110年历史，几多辛酸，几多光辉。110年奋斗，几多艰苦，几多顽强。110年教育，何其辛苦，历尽磨难，不老不衰，在经历110年后，东大进入了新世纪，古朴与现代正悄无声息的交融着。我也将以这种悄无声息的姿态，做一位东大人！一所名校，一座古城，一群追梦人，遇见你是我的幸福。

                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    日新臻化境，四海领风骚。
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

    </div>

    <script src="{% static "res/js/move.js" %}"></script>
    <script>

        $(document).ready(function(){
            $('#fullpage').fullpage({
                'srcollingSpeed': 0,
                'navigation': true,
				'navigationPosition': 'right',
                'afterLoad': function(link,index) {
                    switch(index){
                        case 1:
                        $("#id-feature-head").fadeIn(0);
                        break;
                        case 2:
                        move('#section2 div.be-black').set('top',0).end();
                        break;
                        case 3:
                        move('#section3 div.be-black').set('top',0).end();
                        break;
                        case 4:
                        move('#section4 div.be-black').set('top',0).end();
                        break;
                        case 5:
                        move('#section5 div.be-black').set('top',0).end();
                        break;
                    }
                }
            });
        });
    </script>
</body>

</html>
