{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>途尔北方精选</title>
  <link rel="shortcut icon" href="{% static "res/icons/logo.ico" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/feature-north.css" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/jquery.fullpage.css" %}" >
    <script type="text/javascript" src="{% static "res/js/jquery-3.1.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "res/js/jquery.fullpage.js" %}"></script>
</head>

<body style="position: relative;">
    <div class="back-to-home"><a href="../home"><img src="{% static "res/images/" %}"/></a></div>
    <div id="fullpage">
        <div class="section section-head active" id="section1">
            <div id="id-feature-head" class="be-black" style="top: 0px;display: none;">
                <div style="margin-top: 15%">
            <h1>我在北方</h1>
            <p>
                在这里，敬请欣赏TOUR为您精心整理的北方。<br/>
                让我们一起领略北方的好去处。<br/>
                途尔，一路有你。
            </p>
               <div style="width:400px;height:100px;margin: 0px auto;"> <div class="back-to-home"><a href="../home"><img src="{% static "res/images/logo1.png" %}"/></a></div></div>

                </div>
            </div>
        </div>

        <div class="section section-page-1" id="section2">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">故宫：一部宏伟的民族交响乐</span><br/><br/><br/>
                    故宫经历了六百年的风雨侵袭，而至今风采依旧。朱墙黄瓦，光辉夺目；雕梁画栋，美轮美奂；檐牙高啄，错落有致；一景一兽，栩栩如生。古人神奇的想象力与创造力，叹为观止。                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    故宫啊，好个气派的宫殿！
                    <b class="quotation-right">”</b>
                </p>
            </div>


            </div>
        </div>

        <div class="section section-page-2" id="section3">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">胡同：无尽的遐想与怀念</span><br/><br/><br/>
                    干枯的藤蔓缠绕在矮墙头，在秋风中稀疏摇曳着。紧闭的大门，因为时间的久远，裂开的门逢中透露院子中曾经的光景。门口残缺的上马石，像兀自静坐在门口的老妪，已经早淡忘了当年院主人的风光。                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    胡同啊，往事不可回，来者犹可追。
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-3" id="section4">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">若尔盖草原：宽阔的翠绿</span><br/><br/><br/>
                    若尔盖这里一切美丽，成帷幕开启时，背景变幻的招摇，随时诱惑眼眸中黑色的，晶莹，索性不再养神，游走已开始，在风景的变幻里，捎给心灵随意想象，如同脚下，那条路延伸至天边的宽阔。                    <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    若尔盖，你就是那梦境里的天堂
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>

        <div class="section section-page-4" id="section5">
            <div class="be-black">
            <div class="section-content">
                <p class="section-preview">
                    <span style="font-size: 26px;">塔克拉玛干的胡杨：矗立于四野空旷</span><br/><br/><br/>
                    活一千年不死，死一千年不倒，倒一千年不烂，那就是千年胡杨。有一种精神使一个历尽沧桑，饱经磨难的民族在跌荡起伏中传承不坠，那就是中华民族精神。当记忆的土地松软时，我常常会这样想：胡杨千年，分明就是对中华民族不朽精神的解读。                      <br/>
                   <span style="font-size: 10px;float: right;">——途尔，一路有你</span>
                </p>

                <p class="section-quote">
                    <b class="quotation-left">“</b>
                    胡杨啊，死而千年不倒，倒而千年不朽
                    <b class="quotation-right">”</b>
                </p>
            </div>
            </div>
        </div>
    </div>
        <script src="res/js/move.js"></script>
    <script>

        $(document).ready(function(){
            $('#fullpage').fullpage({
                srcollingSpeed: 500,
                'navigation': true,
                'navigationPosition': 'right',
                'afterLoad': function(link,index) {
                    switch(index){
                        case 1:
                        $("#id-feature-head").fadeIn(2000);
                        break;
                        case 2:
                        move('#section2 div.be-black').set('top',0).end();
                        break;
                        case 3:
                        move('#section3 div.be-black').set('top',0).end();
                        break;
                        case 4:
                        move('#section4 div.be-black').set('top',0).end();
                        break;
                        case 5:
                        move('#section5 div.be-black').set('top',0).end();
                        break;
                    }
                }
            });
        });
    </script>
</body>

</html>
