{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>途尔社区</title>
    <link rel="shortcut icon" href="{% static "res/icons/logo.ico" %}" >
    <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}">
    <LINK rel="stylesheet" href="{% static "res/css/main-not.css" %}">
    <LINK rel="stylesheet" href="{% static "res/css/home.css" %}">
    <LINK rel="stylesheet" href="{% static "res/css/main-yet.css" %}">
    <LINK rel="stylesheet" href="{% static "res/css/community.css" %}">
    <LINK rel="stylesheet" href="{% static "res/css/forum.css" %}">
    <script type="text/javascript" src="{% static "res/js/jquery.min.js" %}"></script>
    <SCRIPT type="text/javascript" src="{% static "res/js/home.js" %}"></SCRIPT>
    <script src="{% static "res/js/jquery.searchMeme.js" %}"></script>
    <script type="text/javascript" src="{% static "res/js/jquery.lazyload.min.js" %}"></script>
    <script type="text/javascript" src="{% static "res/js/blocksit.min.js" %}"></script>


    <!--创建搜索框-->
    <script type="text/javascript">
        $(document).ready(function () {
            var searchbar = $('#search').searchMeme({
                onSearch: function (searchText) {
                    setTimeout(function () {
                        searchbar.searchMeme({searchComplete: true});
                        $('.panel').addClass('go-green').animate({'height': 200}, 500);
                    }, 3000);
                }
                , buttonPlacement: 'right', button: 'green'
            });
        });
    </script>
</head>
<body class="home-body">
<!--导航栏-->
<div class="header">
    <div class="header-inner">
        <a data-bn-ipg="head-logo" href="../home"><img class="logo" src="{% static "res/images/logo.png" %}" width="60"
                                                       height="18"/></a>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-list "><a class="nav-span" href="../triplist" data-bn-ipg="head-nav-place" title="途尔行程">行程</a>
                </li>
                <li class="nav-list "><a class="nav-span" href="../forum" data-bn-ipg="head-nav-guide"
                                         title="途尔社区">社区</a></li>
                <li class="nav-list "><a class="nav-span" href="../customize" data-bn-ipg="head-nav-guide" title="途尔定制">定制</a></li>
            </ul>
        </div>
        <!--注册登录-->
        <div class="fun">
            <!--搜索框-->
            <div class="nav_search">
                <div class="isearch">
                    <input type="text" id="search"/>

                <div id="id-submenu-search" class="submenu-search" style="display: none">


                  <div id="#search-result-content">
                     <!-- <div class="submenu-search-title">
                         <a href="../triplist"><p class="search-subTitle">地点</p></a>
                          <div id="id-submenu-search-user-1" class="submenuList">
                          <a href="../destination2"><span class="submenu-search-h" >南京</span></a>
                     </div>
                     </div>

                      <div class="submenu-search-title">
                         <a href="../triplist"><p class="search-subTitle">行程</p></a>
                         <div id="id-submenu-search-user-2" class="submenuList">
                          <a href="../trip2"><span class="submenu-search-h" >金陵自古帝王州</span></a>
                     </div>

                     <div id="id-submenu-search-user-4" class="submenuList">
                          <a href=""><span class="submenu-search-h" >金陵城与花海</span></a>
                     </div>
                     </div>

                    <div class="submenu-search-title">
                         <a href="../forum"><p class="search-subTitle">游记</p></a>
                         <div id="id-submenu-search-user-5" class="submenuList">
                          <a href="../journal3"><span class="submenu-search-h" >能不忆金陵</span></a>
                     </div>
                     <div id="id-submenu-search-user-6" class="submenuList">
                          <a href=""><span class="submenu-search-h" >远辰</span></a>
                     </div>
                     <div id="id-submenu-search-user-7" class="submenuList" >
                          <a href=""><span class="submenu-search-h" >多少楼台烟雨中</span></a>
                     </div>
                     </div> -->
                   </div>
                </div>

            </div>
            </div>

            <!-- 已登录 -->
            {% if user.is_authenticated %}
            <div id="userStatus" class="status">
   <ul class="user-info show">
       <!--加了鼠标事件及div改成ul-->

      <p class="userstatus" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            {% for item in currentuser %}
           <span class="avatar"><a href="../personal"><img src="{{item.uico}}" width="32" height="32"></a></span>
           <span class="username"><a href="../personal">{{item.user.username}}</a></span>
           {% endfor %}
           <a class="link" href="../logout">退出</a>
           <!-- <span style="vertical-align: -2px;"><img src="{% static "res/icons/down.png" %}"></i></span>
               <ul class="q-layer-userstatus">
                   <li>
                       <a href="../personal">我的首页</a>
                   </li>
                   <li>
                       <!--删掉一行,相应的路由的改变-->
                       <!-- <a href="../personal">我的足迹</a>
                   </li>
                   <li>
                       <a href="../personal">我的行程</a>
                   </li>
                   <li class="setting">
                       <span class="fr"><a class="link" href="../logout">退出</a></span>
                   </li>
               </ul> -->
       </p>


       <!-- 加了鼠标监听事件及div改成ul,路由的改变 -->
       <!-- <li class="usermsg" onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
           <a class="message" href="javascript:;"><img src="{% static "res/icons/message.png" %}"></i></a>
           <ul class="q-layer-userstatus">
                   <li>
                       <a href="../personal">站内通知</a>
                   </li>
                   <li>
                       <span class="fr"><a class="link" href="../personal">我的游记</a></span>
                   </li>
           </ul>
       </li> -->
     </ul>
   </div>
</div>
            {% else %}
                <!-- 未登录 -->
                <div id="js_qyer_header_userStatus" class="status">
                    <div class="login show">
                        <!-- <a class="otherlogin-link" href="javascript:;" url="#qq"><img src="{% static "res/icons/QQ.png" %}"></a>
                <a class="otherlogin-link" href="javascript:;" url="#weibo"><img src="{% static "res/icons/weibo.png" %}"></a> -->
                        <a class="otherlogin-link" href="../linkWechat" url="#wechat"><img
                                src="{% static "res/icons/wechat.png" %}"></a>

                        <a href="../register" data-bn-ipg="index-head-un-register">注册</a>
                        <a href="../login" data-bn-ipg="index-head-un-login">登录</a>
                    </div>
                </div>
            {% endif %}
    </div>
</div>
</div>

<!--轮播图-->
<div id="slide-wrapper">
    <div class="home-recommend-image" id="slide-img-1" style="left:0px">
        <div id="slide-txt-1" class="home-recommend-image-content">
            <h6>途尔，一路有你</h6>
            <div id="slide-abstract-1" class="home-recommend-brief">
                <p>—————————————<br></p>
                <p>谁画出这天地 又画下我和你 让我们的世界绚丽多彩 你累积了许多飞行 你用心挑选纪念品 你收集了地图上每一次的风和日丽</p>
            </div>
        </div>
    </div>

    <div class="home-recommend-image" id="slide-img-2" style="left:-100%">
        <div id="slide-txt-2" class="home-recommend-image-content">
            <h6>千万途尔，探游求索</h6>
            <div id="slide-abstract-2" class="home-recommend-brief">
                <p>—————————————<br></p>
                <p>你在南方的艳阳里大雪纷飞 我在北方的寒夜里四季如春 如果天黑之前来得及 我要忘了你的眼睛 穷极一生做不完一场梦</p>
            </div>
        </div>
    </div>

    <div class="home-recommend-image" id="slide-img-3" style="left:-100%">
        <div id="slide-txt-3" class="home-recommend-image-content">
            <h6>来自旅行者，为了旅行者</h6>
            <div id="slide-abstract-3" class="home-recommend-brief">
                <p>—————————————<br></p>
                <p>我曾经跨过山和大海 也穿过人山人海 我曾经拥有着的一切 转眼都飘散如烟 我曾经失落失望 失掉所有方向 直到看见平凡才是唯一的答案</p>
            </div>
        </div>
    </div>
    <input id="btn-prev" type="button">
    <input id="btn-next" type="button">

    <div id="slide-btn">
        <ul>
            <li class="slide-tbtn"></li>
            <li class="slide-tbtn"></li>
            <li class="slide-tbtn"></li>
        </ul>
    </div>
</div>

<!--游记-->
<div class="intro" style="height:60px;margin:0 auto;"><h3
        style="color:#222;text-align:center;margin-top:55px;font-weight: normal;font-size:16px;">我在梦里走了一万里，只为在醒时遇见你</h3>
</div>

<div><a href="../editjournal" class="submit-note"></a></div>

<div id="wrapper">
    <div id="container">
        {% for item in alljournal %}
        <div class="grid">
            <div class="imgholder"><img class="lazy" data-original={{ item.jcover|safe|escape }}/></div>
            <strong style="background-color: #d20000;">{{ item.jname }}</strong>
            <p>{{ item.jdescrip }}</p>
            <div class="meta"><a href="../journal{{ item.jid }}" target="_blank">More-></a></div>
        </div>
        {% endfor %}
    </div>

</div>


<div id="test" style="display:none;">
    <div class="grid">
        <div class="imgholder"><img class="lazy" src="images/pixel.gif"
                                    data-original="{% static "res/images/5.jpg" %}"/></div>
        <strong style="background-color: #d20000;">历历万乡</strong>
        <p>保持年轻，就要背起行囊。无论是爱情还是青春，其实都在旅行的路上。不旅行，就会老。</p>
        <div class="meta"><a href="../journal1" target="_blank">More-></a></div>
    </div>
    <div class="grid">
        <div class="imgholder"><img class="lazy" src="images/pixel.gif"
                                    data-original="{% static "res/images/2.jpg" %}"/></div>
        <strong style="background-color: #fff45c;">远辰</strong>
        <p>我想去旅行，一个人背包，一个人旅行，一个人目睹沿途的风景，拿着相机，拍下沿途上的风景，记录沿途的心情。那样的生活才是我想要的。</p>
        <div class="meta"><a href="../journal2" target="_blank">More-></a></div>
    </div>
    <div class="grid">
        <div class="imgholder"><img class="lazy" src="images/pixel.gif"
                                    data-original="{% static "res/images/7.jpg" %}"/></div>
        <strong style="background-color: #9fd4dc;">寻找梦的家</strong>
        <p>背着背包的路上, 看过许多人,听过许多故事,见过旅行风景,就这样，慢慢学会了长大。流转的时光，都成为命途中美丽的点缀，看天，看雪，安安静静，不言不语都是好风景。</p>
        <div class="meta"><a href="../journal3" target="_blank">More-></a></div>
    </div>
</div>

<!--底部链接栏  先把你给注释掉-->
<!--<div class="global_footer">
    <div class="footer_inner">
        <div class="inner_link clear">
            <dl>
                <p class="logo_footer index_icons"></p>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#a" rel="nofollow">意见反馈</a>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#b" rel="nofollow">广告代理</a>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#c" rel="nofollow">社区</a>
                </dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#aa" rel="nofollow">会员条款</a>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#bb" rel="nofollow">加入我们</a>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#cc" rel="nofollow">关于 TOUR</a>
                </dd>
            </dl>
            <dl class="footer_follow">
                <dt>关注我们</dt>
                <dd>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#weibo" target="_blank"
                       rel="nofollow">新浪微博</a>
                    <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#contect" rel="nofollow">联系我们</a>
                </dd>
            </dl>
            <dl class="footer_wechat">
                <dt>官方微信</dt>
                <dd class="wechat_img"></dd>
            </dl>
            <dl class="footer_appDownload">
                <dt>APP 下载</dt>
                <dd class="app_img"></dd>
            </dl>
        </div>
    </div>
</div>-->

<script type="text/javascript">
    $(function () {
        $("img.lazy").lazyload({
            load: function () {
                $('#container').BlocksIt({
                    numOfCol: 3,
                    offsetX: 8,
                    offsetY: 8
                });
            }
        });
        $(window).scroll(function () {
            console.log("开始捕获鼠标事件");
            // 当滚动到最底部以上50像素时， 加载新内容
            if ($(document).height() - $(this).scrollTop() - $(this).height() < 50) {
                $('#container').append($("#test").html());
                $('#container').BlocksIt({
                    numOfCol: 3,
                    offsetX: 8,
                    offsetY: 8
                });
                $("img.lazy").lazyload();
            }
        });

        //window resize
        var currentWidth = 1100;
        $(window).resize(function () {
            var winWidth = $(window).width();
            var conWidth;
            if (winWidth < 660) {
                conWidth = 440;
                col = 3
            } else if (winWidth < 880) {
                conWidth = 660;
                col = 3
            } else if (winWidth < 1100) {
                conWidth = 880;
                col = 3;
            } else {
                conWidth = 1100;
                col = 3;
            }

            if (conWidth != currentWidth) {
                currentWidth = conWidth;
                $('#container').width(conWidth);
                $('#container').BlocksIt({
                    numOfCol: col,
                    offsetX: 8,
                    offsetY: 8
                });
            }
        });
    });
</script>

</body>
</html>
