{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TOUR</title>
        <LINK rel="stylesheet" href="{% static "res/Font-Awesome-3.2.1/css/font-awesome.min.css" %}">
        <LINK rel="stylesheet" href="{% static "res/css/mystyle.css" %}">
        <LINK rel="stylesheet" href="{% static "res/css/main-not.css" %}">

        <script type="text/javascript" src="{% static "res/js/jquery-3.1.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "res/js/home.js" %}"> </script>
        <script src="{% static "res/js/jquery.searchMeme.js" %}"></script>
        <!--创建搜索框-->
        <script type="text/javascript">
            $(document).ready(function () {
            var searchbar = $('#search').searchMeme({ onSearch: function (searchText) {
                    setTimeout(function () {
                        searchbar.searchMeme({ searchComplete: true });
                        $('.panel').addClass('go-green').animate({ 'height': 200 }, 500);
                    }, 3000);
                }
                , buttonPlacement: 'right', button: 'green'
                });
            });
        </script>
    </head>

    <body class="home-body">
     <!--导航栏-->
    <div class="header">
        <div class="header-inner">
                    <a data-bn-ipg="head-logo" href="home.html"><img class="logo" src="logo.png" width="60" height="18" /></a>
                    <div class="nav">
                        <ul class="nav-ul">
                            <li class="nav-list "><a class="nav-span" href="../triplist" data-bn-ipg="head-nav-place" title="途尔行程">行程</a></li>
                            <li class="nav-list "><a class="nav-span" href="../forum" data-bn-ipg="head-nav-guide" title="途尔社区">社区</a></li>
                        </ul>
                    </div>
        <!--注册登录-->
        <div class="fun">
            <!--搜索框-->
            <div class="nav_search">
                <div class="isearch">
                    <input type="text" id="search" />
                </div>
            </div>
            <div id="js_qyer_header_userStatus" class="status">
              <div class="login show">
                    <a class="otherlogin-link" href="javascript:;" url="#qq"><img src="{% static "res/icons/qq.png" %}"></a>
                    <a class="otherlogin-link" href="javascript:;" url="#weibo"><img src="{% static "res/icons/weibo.png" %}"></a>
                    <a class="otherlogin-link" href="javascript:;" url="#wechat"><img src="{% static "res/icons/wechat.png" %}"></a>

                    <a href="register.html" data-bn-ipg="index-head-un-register">注册</a>
                    <a href="login.html" data-bn-ipg="index-head-un-login">登录</a>
              </div>
            </div>
        </div>
    </div>
</div>

<!--内容-->
<div class="content" style="width:600px;height:800px;">
<div><a href="blogedit.html" class="submit-note"></a></div>
</div>

<!--底部链接栏-->
        <div class="global_footer">
            <div class="footer_inner">
                <div class="inner_link clear">
                <dl>
                <p class="logo_footer index_icons"></p>
                </dl>
                <!-- <dl>
                <dt>联系我们</dt>
                <dd>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#a" rel="nofollow">意见反馈</a>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#b" rel="nofollow">广告代理</a>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#c" rel="nofollow">社区</a>
                </dd>
                </dl> -->
                <dl>
                <dt>关于我们</dt>
                <dd>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="../member" rel="nofollow">会员条款</a>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="../about" rel="nofollow">候鸟团队</a>
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="../aboutTour" rel="nofollow">关于途尔</a>
                </dd>
                </dl>
                <dl class="footer_follow">
                <dt>关注我们</dt>
                <dd>
                <!-- <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#weibo" target="_blank" rel="nofollow">新浪微博</a> -->
                <a class="global_gaNode" data-galabel="home_footer_nav_link" href="../contact" rel="nofollow">联系我们</a>
                </dd>
                </dl>
                <dl class="footer_wechat">
                <dt>官方微信</dt>
                <dd class="wechat_img">
                  <a class="global_gaNode" data-galabel="home_footer_nav_link" href="#cc" rel="nofollow">
                  <img src="{% static "res/images/wechat.jpg" %}" width="100px"/>
                  </a></dd>
                </dl>
                <!-- <dl class="footer_appDownload">
                <dt>APP 下载</dt>
                <dd class="app_img"></dd>
                </dl> -->
                </div>

            </div>
        </div>

    </body>
</html>
